<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Liste de vos réservations</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <h1>Liste de vos réservations</h1>
    <% for (var i = 0; i < reservations.length; i++) { %>
        <div class="card">
            <h5 class="card-header">Vol
                <%= reservations[i].flight.code_airport_dep %>-
                    <%= reservations[i].flight.code_airport_dest %>
                        <%= reservations[i].flight.price %>
            </h5>
            <div class="card-body">
                <h5 class="card-title">
                    <%= reservations[i].nb_passengers %> passager(s)</h5>
                <p class="card-text">Montant TTC de
                    <%= reservations[i].amount_paid %>€ réglé le
                        <%= reservations[i].date_paid %>
                </p>
                <a href="<%= 'reservations/' + reservations[i].id + '/refund' %>" class="btn btn-primary">Demander un remboursement</a>
            </div>
        </div>
        <%}%>
</body>

</html>