<div class="airport_index">
    
    <div class ="view_tickets">
        <h1>{{title}}</h1>
        <p>Connected as: {{firstname}} {{lastname}}</p>
        <button onclick="window.location.href='/user/mytickets/{{firstname}}/{{lastname}}';">
                    My tickets 🐼
            </button>
    </div>
    <div class="table-container">
    <table class="content-table">
        <thead>
            <tr>
                <th>Departure</th>
                <th>Destination</th>
                <th>Airport Departure</th>
                <th>Buy flight</th>
            </tr>
        </thead>
        <tbody>
            <form action="/airport" method="post">

                <input id="megafirstname" name="megafirstname" type="hidden" value="{{firstname}}">
                <input id="megalastname" name="megalastname" type="hidden" value="{{lastname}}">
                
                <tr>
                    <td id="departure" name="departure" type="text" value="Paris">Paris</td>
                    <td id="destination" name="destination" type="text" value="New York">New York</td>
                    <td id="code" name="code" type="text" value="CDG">CDG</td>

                    
                    <td>
                        <input id="btn1" type="submit" value="Choose" class="btn"/>
                    </td>
                </tr>
            </form>

            <form action="/airport" method="post">
                <tr>
                    <td id="departure" name="departure" type="text" value="New York">New York</td>
                    <td id="destination" name="destination" type="text" value="Paris">Paris</td>
                    <td id="code" name="code" type="text" value="JFK">JFK</td>
                    <td><input id="btn2" type="submit" value="Choose" class="btn"/></td>
                </tr>
            </form>


            <form action="/airport" method="post">
                <tr>
                    <td id="departure" name="departure" type="text" value="Paris">Paris</td>
                    <td id="destination" name="destination" type="text" value="Detroit">Detroit</td>
                    <td id="code" name="code" type="text" value="CDG">CDG</td>
                    <td><input id="btn3" type="submit" value="Choose" class="btn"/></td>
                </tr>
            </form>

            <form action="/airport" method="post">
                <tr>
                    <td id="departure" name="departure" type="text" value="Detroit">Detroit</td>
                    <td id="destination" name="destination" type="text" value="Paris">Paris</td>
                    <td id="code" name="code" type="text" value="DTW">DTW</td>
                    <td><input id="btn4" type="submit" value="Choose" class="btn"/></td>
                </tr>
            </form>

            <form action="/airport" method="post">
                <tr>
                    <td id="departure" name="departure" type="text" value="Detroit">Detroit</td>
                    <td id="destination" name="destination" type="text" value="New York">New York</td>
                    <td id="code" name="code" type="text" value="DTW">DTW</td>
                    <td><input id="btn5" type="submit" value="Choose" class="btn"/></td>
                </tr>
            </form>

            <form action="/airport" method="post">
                <tr>
                    <td id="departure" name="departure" type="text" value="New York">New York</td>
                    <td id="destination" name="destination" type="text" value="Detroit">Detroit</td>
                    <td id="code" name="code" type="text" value="JFK">JFK</td>
                    <td><input id="btn6" type="submit" value="Choose" class="btn"/></td>
                </tr>
            </form>
        </tbody>
    </table>
    </div>

    
    <div>
            <a href="/">Sign out</a>
    </div>

</div>